<div id="welcome">
  <div class="container">
    <h1>Welcome to our Arduino Journey</h1>
    <hr/>
    <p>Read on to learn about our experiments with Arduino and Software......</p>
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my email</a>
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Steps on our journey</button>
    </div>
  </div>


  <!-- <div class="page-wrap"> -->
    <!-- LED Toggle button for controlling the LED on the Server-Side -->
    <!-- <button class="led-toggle" id="led-toggle">Turn Off LED</button>
</div> -->



  <router-view></router-view>


  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Welcome to the Future</h2>
      <p>...where robots rule the world</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">All things Arduino</h5>
      <p>If you're reading this, you're one of the priviliged few that has been granted access to our Arduino diary. The following logs document our journey into the unknown and we hope for them to be well preserved in years to come for the benefit of future generations. </p>
      <div class="js-timestamp-examples">
        <h5 class="section-heading">Day 1: Lost in Translation</h5>
        <p> On the first day of our journey we encoutered an immediate hurdle- the arduino board in the robot communicates in C++, a language that none of us are fluent in. In order to better understand our electronic friend, we decided to sign up for some classes in C++. Some of the syntax was familiar and drew parallels with languages we better understood. However there were also a lot of unique aspects to the language that required further study.    
        </p>
        <h5 class="section-heading">Day 2: Circuit, Syntax and C++</h5>
        <p>With a better understanding of basic C++ syntax and a renewed appreciation for the transferable skills we had previously developed in learning new languages, we attempted to communicate with our first circuit board. We downloaded a Arduino focused IDE (Integrated Development Enviornment) and set up a basic circuit board. We attached the laptop to the board and installed some basic C++ code in order to trigger a flashing light on the circuit.   
        </p>
        <h5 class="section-heading">Day 3: Let there be Light!</h5>
        <p>Although our journey into the world of C++ had proved interesting and academically useful, we realised that in order to both construct this application as well as have our software engage with hardware, we needed to find a more effective way of communicating with the circuitry in a language we better understood. Enter Johnny-five! Johnny-Five is a JavaScript Robotics and IoT Platform that allows us to talk to the robot using Javascript. Bingo! We found some javascript code that could trigger an LED light on a circuit board and we created a simple app that would trigger that situation. 
          <!-- <img class="logo" alt="NEW_APP_NAME logo" src="/images/diary.jpg"/></a> -->
        </p>
        <h5 class="section-heading">Day 4: Trials and Tribulations</h5>
        <p>Our light is on but our robot is unresponsive. The code required to interact with the bot is complicated and needs ajusting in order to function.  
        </p>
        <h5 class="section-heading">Day 5: Lets meet in the middle </h5>
        <p>Lets bridge the gap, how does software meet hardware? 
        </p>
        <h5 class="section-heading">Day 6: Meanwhile in the land of Software...</h5>
        <p>This very app was created using Sails. We have aspects of Angular and Bootsrap and the server runs on Express. The interface is an homage to Arduino hence the detailing and colours are the famous Arduin teal. 
        </p>
        <h5 class="section-heading">Day 7: He's Alive!</h5>
        <p>After many an hour of debugging, the little bot was finally bought to life! He shakes his leg and has mastered a shuffle.  
        </p>
        <h5 class="section-heading">Day 8: It's getting hot in here</h5>
        <p>We attached a temperature sensor to a wifi board and now we have a function in our app that allows for temperature readings. 
        </p>
        <!-- <h5 class="section-heading">Day 9</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 10</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 11</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc -->
        </p>
      </div>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="model" class="btn btn-info">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>
</div>

