<div id="welcome">
  <div class="container">
    <h1>Welcome to our Arduino Journey</h1>
    <hr/>
    <p>Read on to learn about our experiments with Arduino and Software......</p>
    <div class="buttons">
      <a class="btn btn-info" href="/account/profile">Update my email</a>
      <button class="btn btn-outline-info ml-2" @click="clickOpenExampleModalButton()">Steps on our journey</button>
    </div>
  </div>


  <div class="page-wrap">
    <!-- LED Toggle button for controlling the LED on the Server-Side -->
    <button class="led-toggle" id="led-toggle">Turn Off LED</button>
</div>



  <router-view></router-view>


  <modal class="example-modal" v-if="modal==='example'" @close="closeExampleModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Our Story</h2>
      <p>Join us on our journey, where hardware meets software.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Arduino and C++.</h5>
      <p>Blurb blurb blurb  blrub arduino blah blah blah.</p>
      <div class="js-timestamp-examples">
        <h5 class="section-heading">Day 1</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 2</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 3</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 4</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 5</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 6</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 7</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 8</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 9</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 10</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
        <h5 class="section-heading">Day 11</h5>
        <p>learnt c++, IDE photo of group with first circuit board etc etc
        </p>
      </div>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="model" class="btn btn-info">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>
</div>

