<div id="faq">
  <div class="container">
    <h1>Info</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>

    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Technologies Used</h4>
      <p>Our app uses the following technologies/software/add ons/tools and integrations etc </p>
      <ul>
        <li><a target="_blank" href="http://getbootstrap.com/docs/4.0/getting-started/introduction/"><strong>Bootstrap 4</strong></a> - Front-end component library</li>
        <li><a target="_blank" href="http://fontawesome.io/icons/"><strong>Font Awesome 4</strong></a> - Icons</li>
        <li><a target="_blank" href="https://vuejs.org/"><strong>Vue.js</strong></a> - Front-end framework</li>
        <li><a target="_blank" href="https://npmjs.com/package/parasails"><strong>parasails.js</strong></a> - Thin layer of bundled conventions for using Vue.js with Sails.js, and dynamically-generated SDK for handling AJAX and/or WebSocket requests from the front-end to the actions in your Sails app. (More info on usage below.)</li>
      </ul>
      <p><small>* requires an API key</small></p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
    </div>
  </div>
</div>


